[defaults]
transport = ssh
sudo_flags=-HE

[ssh_connection]
ssh_args = -o ForwardAgent=yes -o ControlMaster=auto -o ControlPersist=60s -o ControlPath=/tmp/ansible-ssh-%h-%p-%r

retry_files_enabled = False
deprecation_warnings = False
